body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  height: 200px;
  margin-top: -26px;
}

.header-title {
  padding-top: 60px;
}

main {
  padding: 40px 0 70px 0;
}

footer {
  text-align: center;
}


.icon {
  width: 150px;
  height: 150px;
}

.scores {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 30%;
}

.score-info {
  margin: 0;
}

.img-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 60%;
}

.shot-container {
  width: 240px;
  height: 240px;
}

.shot-img {
  border-radius: 25px;
  height: 150px;
  width: 150px;
}

.user-img-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.enemy-img-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}
